{% extends 'base.html' %}
{% load static %}
    
{% block scripts %}
    <script src="{% static 'posts/detail.js' %}" defer></script>
{% endblock scripts %}

{% block title %}
    {{ obj.title }} Detail
{% endblock title %}

{% block content %}
    <h1>{{ obj.title }}</h1>
    <p>{{ obj.body }}</p>
    <p>Author: {{ obj.author.user.username }}</p>
    <button id="back_btn" class="btn btn-info">Back</button>
    <button id="update_btn" class="btn btn-primary">Update</button>
    <button id="delete_btn" class="btn btn-danger">Delete</button>
    <div id="spinner-box" class="text-center">
        <div class="spinner-border" role="status"></div>
    </div>
    <div class="mt-1" id="post-box"></div>
{% endblock content %}